@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@font-face {
  font-family: "Spartan Bold";
  font-display: swap;
  src: url(../fonts/Spartan-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Spartan Regular";
  font-display: swap;
  src: url(../fonts/Spartan-Regular.ttf) format("truetype");
}
body {
  background: url(../images/background-stars.svg) no-repeat center center fixed, #070724;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.open {
  overflow: hidden;
  animation: 0.2s delay-overflow;
}

#header {
  display: flex;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header #nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header #nav-bar .logo {
  text-decoration: none;
}
#header #nav-bar .logo h1 {
  font-family: "Antonio", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: -1.05px;
  line-height: 35px;
  text-transform: uppercase;
  margin: 0;
}
#header #nav-bar .nav-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#header #nav-bar .nav-list li {
  margin-right: 2rem;
}
#header #nav-bar .nav-list li:last-child {
  margin-right: 0;
}
#header #nav-bar .nav-list li .nav-link {
  position: relative;
  font-family: "Spartan Bold", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  opacity: 0.75;
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#header #nav-bar .nav-list li .nav-link:hover {
  color: rgb(255, 255, 255);
}
#header #nav-bar .nav-list li .nav-link.active {
  color: rgb(255, 255, 255);
}
#header #nav-bar .nav-list li .nav-link.active::before {
  content: "";
  display: block;
  position: absolute;
  top: -36px;
  height: 3px;
  width: 100%;
  background: #419EBB;
}
#header #nav-bar #nav-toggle {
  display: none;
}

#m-tabs {
  display: none;
}

#main {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
#main .planet {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 515px;
}
#main .planet.hide {
  display: none;
}
#main .planet .sub {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  width: 163px;
  margin: 0 auto;
}
#main #info .title {
  font-family: "Antonio", sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 104px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
#main #info .content {
  font-family: "Spartan Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 25px;
  margin-bottom: 1.5rem;
}
#main #info .content.hide {
  display: none;
}
#main #info .source {
  font-family: "Spartan Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 25px;
  opacity: 0.5;
}
#main #info .source .link {
  font-family: "Spartan Bold", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 0.5rem;
}
#main #info .source .link .icon {
  margin-left: 0.5rem;
}
#main #buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
}
#main #buttons .btn {
  font-family: "Spartan Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 50px;
  letter-spacing: 2.75px;
  text-transform: uppercase;
  text-align: left;
  padding: 0 2rem;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  border: 1px solid rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0;
}
#main #buttons .btn::before {
  content: "";
  display: inline-block;
  height: 53px;
  vertical-align: middle;
}
#main #buttons .btn:hover {
  background-color: rgba(216, 216, 216, 0.2);
}
#main #buttons .btn:focus {
  outline: none;
  box-shadow: none;
}
#main #buttons .btn.active {
  background-color: #419EBB;
}
#main #buttons .btn .number {
  margin-right: 1.5rem;
  color: #FFFFFF;
  opacity: 0.5;
}
#main #stats {
  margin-top: 3rem;
  padding: 1.5rem 1rem;
  border: 1px solid rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main #stats .title {
  font-family: "Spartan Bold", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 25px;
  opacity: 0.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#main #stats .content {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 50px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 1400px) {
  #main {
    max-width: 1100px;
  }
}
@media screen and (min-width: 991.99px) and (max-width: 1200px) {
  #main #buttons .btn {
    font-size: 10px;
  }
}
@media screen and (min-width: 767.99px) and (max-width: 991.98px) {
  #header {
    height: 160px;
    align-items: flex-start;
  }
  #header #nav-bar {
    flex-direction: column;
  }
  #header #nav-bar .logo {
    margin: 2rem 0 2.5rem 0;
  }
  #header #nav-bar .nav-list li .nav-link.active::before {
    top: 20px;
  }

  #main {
    padding-top: 9rem;
  }
  #main .planet {
    height: auto;
    margin-bottom: 8rem;
  }
  #main .planet .mercury {
    width: 184px;
  }
  #main article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #main article #info {
    width: 340px;
  }
  #main article #info .title {
    font-size: 48px;
    line-height: 62px;
  }
  #main article #info .content {
    font-size: 11px;
    line-height: 22px;
  }
  #main article #info .source {
    font-size: 12px;
  }
  #main article #buttons {
    width: 280px;
  }
  #main article #buttons .btn {
    font-size: 9px;
    line-height: 25px;
    padding: 0 1.25rem;
  }
  #main article #buttons .btn .number {
    margin-right: 0.5rem;
  }
  #main #stats {
    padding: 1rem;
  }
  #main #stats .title {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.73px;
  }
  #main #stats .content {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.9px;
  }
}
@media screen and (max-width: 767.98px) {
  #header {
    height: 60px;
    padding: 0 0.75rem;
  }
  #header #nav-bar .nav-list {
    position: fixed;
    top: 60px;
    left: -100vw;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: #070724;
    padding: 1.25rem 0.75rem;
    z-index: 1;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
  }
  #header #nav-bar .nav-list.open {
    left: 0;
  }
  #header #nav-bar .nav-list li {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #header #nav-bar .nav-list li:last-child {
    border-bottom: 0;
  }
  #header #nav-bar .nav-list li:nth-child(1) .nav-link .dot {
    background-color: #DEF4FC;
  }
  #header #nav-bar .nav-list li:nth-child(2) .nav-link .dot {
    background-color: #F7CC7F;
  }
  #header #nav-bar .nav-list li:nth-child(3) .nav-link .dot {
    background-color: #545BFE;
  }
  #header #nav-bar .nav-list li:nth-child(4) .nav-link .dot {
    background-color: #FF6A45;
  }
  #header #nav-bar .nav-list li:nth-child(5) .nav-link .dot {
    background-color: #ECAD7A;
  }
  #header #nav-bar .nav-list li:nth-child(6) .nav-link .dot {
    background-color: #FCCB6B;
  }
  #header #nav-bar .nav-list li:nth-child(7) .nav-link .dot {
    background-color: #65F0D5;
  }
  #header #nav-bar .nav-list li:nth-child(8) .nav-link .dot {
    background-color: #497EFA;
  }
  #header #nav-bar .nav-list li .nav-link {
    font-size: 15px;
    letter-spacing: 1.36px;
    color: #FFFFFF;
    opacity: 1;
  }
  #header #nav-bar .nav-list li .nav-link.active::before {
    display: none;
  }
  #header #nav-bar .nav-list li .nav-link::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    background: url(../images/icon-chevron.svg) no-repeat;
    height: 10px;
    width: 10px;
  }
  #header #nav-bar .nav-list li .nav-link .dot {
    position: relative;
    top: 3px;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 1.5rem;
    border-radius: 50%;
  }
  #header #nav-bar #nav-toggle {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 17px;
  }
  #header #nav-bar #nav-toggle .bar {
    width: 100%;
    height: 3px;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    transition: all ease-in-out 0.2s;
  }
  #header #nav-bar #nav-toggle.open .bar {
    background: rgba(255, 255, 255, 0.1);
  }

  #m-tabs {
    display: block;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #m-tabs .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #m-tabs .tabs .tab {
    position: relative;
  }
  #m-tabs .tabs .tab button {
    font-family: "Spartan Bold", sans-serif;
    font-size: 9px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1.93px;
    text-transform: uppercase;
  }
  #m-tabs .tabs .tab button.active {
    color: #FFFFFF;
  }
  #m-tabs .tabs .tab button.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background: #419EBB;
  }
  #m-tabs .tabs .tab button:focus {
    outline: none;
    box-shadow: none;
  }

  #main {
    padding-bottom: 1.5rem;
  }
  #main .planet {
    height: auto;
    margin-bottom: 5rem;
  }
  #main .planet .mercury {
    width: 111px;
  }
  #main .planet .sub {
    bottom: -60px;
    width: 70px;
  }
  #main #info {
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }
  #main #info .title {
    font-size: 40px;
    line-height: 51px;
  }
  #main #info .content {
    font-size: 11px;
    line-height: 22px;
  }
  #main #info .source {
    font-size: 12px;
    line-height: 25px;
  }
  #main #info .source .link {
    margin-left: 0.05rem;
  }
  #main #stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  #main #stats .title {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.73px;
    margin: 0;
  }
  #main #stats .content {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.75px;
  }
  #main #buttons {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
